{% extends 'aments_shop/base.html' %}
{% load static %}
{% block content %}
    <!-- ...:::: Start Breadcrumb Section:::... -->
    <div class="breadcrumb-section">
        <div class="breadcrumb-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex justify-content-between justify-content-md-between  align-items-center flex-md-row flex-column">
                        <h3 class="breadcrumb-title">Cart</h3>
                        <div class="breadcrumb-nav">
                            <nav aria-label="breadcrumb">
                                <ul>
                                    <li><a href="{% url 'home' %}">Home</a></li>
                                    <li><a href="{% url 'profile' %}">Shop</a></li>
                                    <li class="active" aria-current="page">Cart</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- ...:::: End Breadcrumb Section:::... -->
    <!-- ...:::: Start Cart Section:::... -->
    <div class="cart-section">
        <!-- Start Cart Table -->
        <div class="cart-table-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="table_desc">
                            <div class="table_page table-responsive">
                                <table>
                                    <!-- Start Cart Table Head -->
                                    <thead>
                                    <tr>
                                        <th class="product_remove">Delete</th>
                                        <th class="product_thumb">Image</th>
                                        <th class="product_name">Product</th>
                                        <th class="product-price">Price</th>
                                        <th class="product_quantity">Quantity</th>
                                        <th class="product_total">Total</th>
                                    </tr>
                                    </thead> <!-- End Cart Table Head -->
                                    <tbody>
                                    <!-- Start Cart Single Item-->
                                    {% for item in shopping_cart %}
                                        <tr>
                                            <td class="product_remove" data-id="{{ item.id }}">
                                                <a href="#"><i class="fa fa-trash-o"></i></a>
                                            </td>
                                            <td class="product_thumb">
                                                <a href="{{ item.product.get_absolute_url }}">
                                                    <img src="{{ item.product.preview.url }}" alt="">
                                                </a>
                                            </td>
                                            <td class="product_name">
                                                <a href="{{ item.product.get_absolute_url }}">{{ item.name }}</a>
                                            </td>
                                            <td class="product-price">
                                                {% if item.product.sales %}
                                                    {{ item.product.get_sales_price.1 }}
                                                {% else %}
                                                    {{ item.product.price }}
                                                {% endif %}
                                            </td>
                                            <td class="product_quantity">
                                                <label>
                                                    Кол-во&emsp;<input min="1" max="100" value="{{ item.count }}" type="number">
                                                </label>
                                            </td>
                                            <td class="product_total">$130.00</td>
                                        </tr> <!-- End Cart Single Item-->
                                    {% endfor %}
                                    <!-- Start Cart Single Item-->
                                    </tbody>
                                </table>
                            </div>
                            <div class="cart_submit">
                                <button type="submit">update cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End Cart Table -->

        <!-- Start Coupon Start -->
        <div class="coupon_area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 ml-auto">
                        <div class="coupon_code right">
                            <h3>Cart Totals</h3>
                            <div class="coupon_inner">
                                <div class="cart_subtotal">
                                    <p>Цена</p>
                                    <p class="cart_amount">${{ total_price }}</p>
                                </div>
                                <div class="cart_subtotal ">
                                    <p>Доставка</p>
                                    <p class="cart_amount">$0.00</p>
                                </div>
                                <div class="cart_subtotal">
                                    <p>Итоговая цена</p>
                                    <p class="cart_amount">$217.00</p>
                                </div>
                                <div class="checkout_btn">
                                    <a href="#">Proceed to Checkout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End Coupon Start -->

    </div> <!-- ...:::: End Cart Section:::... -->

{% endblock content %}