{% extends 'aments_shop/base.html' %}
{% load static %}
{% block content %}
    <!-- ...:::: Start Breadcrumb Section:::... -->
    <div class="breadcrumb-section">
        <div class="breadcrumb-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex justify-content-between justify-content-md-between  align-items-center flex-md-row flex-column">
                        <h3 class="breadcrumb-title">Posts</h3>
                        <div class="breadcrumb-nav">
                            <nav aria-label="breadcrumb">
                                <ul>
                                    <li><a href="{% url 'home' %}">Home</a></li>
                                    <li class="active" aria-current="page">Posts</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- ...:::: End Breadcrumb Section:::... -->

    <!-- ...:::: Start Blog Section:::... -->
    <div class="blog-section">
        <div class="container">
            <div class="row flex-column-reverse flex-lg-row">
                <div class="col-lg-3">
                    <!-- Start Sidebar Area -->
                    <div class="siderbar-section">

                        <!-- Start Single Sidebar Widget -->
                        <div class="sidebar-single-widget">
                            <h6 class="sidebar-title">Search</h6>
                            <div class="sidebar-content">
                                <div class="search-bar">
                                    <div class="default-search-style d-flex">
                                        <input class="default-search-style-input-box border-around border-right-none"
                                               type="search" placeholder="Search..." required>
                                        <button class="default-search-style-input-btn" type="submit"><i
                                                class="icon-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- End Single Sidebar Widget -->

                        <!-- Start Single Sidebar Widget -->
                        <div class="sidebar-single-widget">
                            <h6 class="sidebar-title">Recent Post</h6>
                            <div class="sidebar-content">
                                <div class="recent-post">
                                    <ul>
                                        <!-- Start Single Recent Post Item -->
                                        <li class="recent-post-list">
                                            <a href="post_detail.html" class="post-image">
                                                <img src="../../static/images/blog_recent_post/blog1.jpg" alt="">
                                            </a>
                                            <div class="post-content">
                                                <a class="post-link" href="post_detail.html">Blog Image
                                                    Post</a>
                                                <span class="post-date">March 16, 2018</span>
                                            </div>
                                        </li> <!-- End Single Recent Post Item -->
                                        <!-- Start Single Recent Post Item -->
                                        <li class="recent-post-list">
                                            <a href="post_detail.html" class="post-image">
                                                <img src="../../static/images/blog_recent_post/blog2.jpg" alt="">
                                            </a>
                                            <div class="post-content">
                                                <a class="post-link" href="post_detail.html">Blog Image
                                                    Post</a>
                                                <span class="post-date">March 16, 2018</span>
                                            </div>
                                        </li> <!-- End Single Recent Post Item -->
                                        <!-- Start Single Recent Post Item -->
                                        <li class="recent-post-list">
                                            <a href="post_detail.html" class="post-image">
                                                <img src="../../static/images/blog_recent_post/blog3.jpg" alt="">
                                            </a>
                                            <div class="post-content">
                                                <a class="post-link" href="post_detail.html">Blog Image
                                                    Post</a>
                                                <span class="post-date">March 16, 2018</span>
                                            </div>
                                        </li> <!-- End Single Recent Post Item -->
                                    </ul>
                                </div>
                            </div>
                        </div> <!-- End Single Sidebar Widget -->

                        <!-- Start Single Sidebar Widget -->
                        <div class="sidebar-single-widget">
                            <h6 class="sidebar-title">Tag products</h6>
                            <div class="sidebar-content">
                                <div class="tag-link">
                                    <a href="">asian</a>
                                    <a href="">brown</a>
                                    <a href="">euro</a>
                                    <a href="">fashion</a>
                                    <a href="">hat</a>
                                    <a href="">t-shirt</a>
                                    <a href="">teen</a>
                                    <a href="">travel</a>
                                    <a href="">white</a>
                                </div>
                            </div>
                        </div> <!-- End Single Sidebar Widget -->

                    </div> <!-- End Sidebar Area -->
                </div>
                <div class="col-lg-9">

                    <div class="blog-grid-wrapper">
                        <div class="row">
                            {% for post in post_list %}
                                <div class="col-md-6 col-12">
                                    <!-- Start Blog Grid Single -->
                                    <div class="blog-feed-single">
                                        <a href="{{ post.get_absolute_url }}" class="blog-feed-img-link">
                                            <img src="{{ post.preview.url }}" alt="" class="blog-feed-img">
                                        </a>
                                        <div class="blog-feed-content">
                                            <div class="blog-feed-post-meta">
                                                <span>By:</span>
                                                <a href="" class="blog-feed-post-meta-author">
                                                    {{ post.author.username }}
                                                </a> -
                                                <a href="" class="blog-feed-post-meta-date">
                                                    {{ post.publish_date.date }}
                                                </a>
                                            </div>
                                            <h5 class="blog-feed-link">
                                                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                                            </h5>
                                        </div>
                                    </div><!-- End Blog Grid Single -->
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Start Pagination -->
                    {% include 'include/paginator.html' %}
                    <!-- End Pagination -->
                </div>
            </div>
        </div>
    </div> <!-- ...:::: End Blog Section:::... -->
{% endblock content %}